.form-register {
  box-sizing: border-box;
  border-radius: 30px;
  background: white;
  @include shadow-general;
  padding: 10px;
  align-self: center;
  max-height: 80%;
  margin-top: 30px;
  overflow: auto;

    h2 {
      margin-top: 10px;
    }
    .register {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      label{
        width: 100%;
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 12px;
      }
      input{
        padding-left: 10px;
        height: 40px;

        &::placeholder{
          color: black;
        }
      }
    }
  }
  