// Blog colors
// $primary-color: #F99010;
// $secondary-color: #62798C;

//Mutual colors
$fifth-color: #ECEBE4;
$sixth-color: #eeeeec;
$seventh-color: #545863;
$delete-color: #e73819;
$delete-2nd-color: #ffa7a7;
$girl-color: #FFE6E6;
$boy-color: #DAFFFF;

// App colors proposal 1
// $primary-color: #277543;
// $secondary-color: #F4F4F8;
// $third-color: #d4ffc5;
// $fourth-color: #98b88e;


// App colors porposal 2
$primary-color: #1E5F79;
$secondary-color: #F4F4F8;
$third-color: #dafeff;
$fourth-color: #FAFAFF;
